.Login{
    min-height: 100vh;
}

.Login p:first-child{
    color: var(--primary);
    font-weight: 700;
}

.Login p:last-child{
    color: var(--gray);
}

.Login p:last-child span{
    color: var(--primary);
    text-decoration: underline;
}

.Login input{
    border-radius: 0.375rem;
    outline: 0;
    border: 0;
    background: var(--text);
    color: var(--background);
}

.Login input::placeholder{
    color: var(--gray);
}

.Login button{
    border-radius: 0.375rem;
    outline: 0;
    border: 0;
    background: var(--primary);
    color: var(--text);
}